a {
  font-size: 18px;
  font-weight: 600;
  font-family: "Roboto Condensed", sans-serif;
  color: indianred;
  padding-top: 20px;
}

h1 {
  text-align: center;
  font-weight: 100;
  font-family: monospace;
  padding-top: 40px;
}

h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 20;
  padding: 20px;
}

.container {
  position: relative;
  left: 40px;
  top: 20px;
}

.text-container {
  position: relative;
  left: 90px;
  top: 50px;
}

img {
  padding-top: 40px;
  padding-left: 40px;
  float: left;
}
